i{
	color: red;
	margin-right: 5px;
}
.TheOwner{
	width:100%;
	height: 100%;
	position: relative;
}
.TheOwner-bottom{
	width: 100%;
	height: auto;
	position: absolute;
	top: 62px;
	bottom: 0;
}
.TheOwner-bottom-left{
	width: 230px;
	height: 100%;
	background: #F8F8F8;
	overflow: auto;
	float: left;
}
#TheOwner-tree{
	width: 210px;
	height: 100%;
	margin-left: 10px;
	padding-top: 10px;
}
.TheOwner-bottom-right{
	margin-left: 245px;
	height: 100%;
	position: relative;
}
.TheOwner-right-top{
	width: 100%;
	height: 90px;
	background: #F8F8F8;
	position: absolute;
	top: 0;
	padding: 8px 15px 0 10px;
}
.TheOwner-right-top-b{
	padding-top: 10px;
	width: 100%;
	height: 100%;
}
.TheOwner-right-center{
	width: 100%;
	height: 35px;
	position: absolute;
	top: 90px;
}
.TheOwner-inquire{
    width: 100%;
    height: 36px;
    margin-top: 1px;
    position: absolute;
}
.TheOwner-inquire-img>img{
	margin-left: 10px;
    margin-top: -2px;
}
.TheOwner-inquire>label{
	width: 70px;
	text-align: center;
	margin-top: 8px;
}
.TheOwner-inquire>input,
.TheOwner-inquire-select,
.TheOwner-inquire-selecttwo{
	background: #EAEAEA;
	border: 1px solid #6DC8F5;
}
.TheOwner-inquire-select,
.TheOwner-inquire-selecttwo{
	width: 140px;
}
.TheOwner-inquire-cs{
	display: inline-block;
    color: white;
	background: #00AAFF;
	width: 60px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}
.TheOwner-datagrid{
	width: 100%;
	height: 100%;
}
.TheOwner-datagrid-tops{
	width: 100%;
	height: 39px;
	position: absolute;
	top: 0;
	padding: 5px;
}
.TheOwner-datagrid-bottoms{
	width: 100%;
	height: auto;
	position: absolute;
	top: 39px;
	bottom: 0;
}
/*.iscompile{
	padding-left: 30px;
}*/
.TheOwner-right-bottom{
	width: 100%;
	height: auto;
	background: #F8F8F8;
	position: absolute;
	top: 125px;
	bottom: 0;
}
/*模态框*/
.TheOwnerForm>label,
.TheOwnerFormtwo>label{
	width: 155px;
    margin-left: 10px;
    margin-top: 5px;	
}
.TheOwnerForm>input,
.TheOwnerFormtwo>input{
	width: 140px;
	font-size: 16px;
}
.TheOwnerForm>select,
.TheOwnerFormtwo>select{
	width: 140px;
	height: 24px;
}
.addphone0 input,.addphone1 input,.addphone2 input{
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: none;
	background: none;
}
.phoneaddremove{
	width: 115px;
	height: 33px;
	margin: 0 auto;
}
#business,#malfunction,#Accident{
	border: none;
	background: none;
	text-align: center;
	width: 100%;
	line-height: 20px;
}

