.icon-one{
	background: url('icons/one.png') no-repeat center center;
}
.icon-two{
	background: url('icons/two.png') no-repeat center center;
}
.icon-three{
	background: url('icons/three.png') no-repeat center center;
}
.icon-four{
	background: url('icons/four.png') no-repeat center center;
}
.icon-five{
	background: url('icons/sive.png') no-repeat center center;
}
.icon-six{
	background: url('icons/six.png') no-repeat center center;
}
.icon-seven{
	background: url('icons/seven.png') no-repeat center center;
}
.icon-tianjiaa{
	background: url('icons/zengjia.png') no-repeat center center;
}
.icon-shanchu{
	background: url('icons/shanchu.png') no-repeat center center;
}

.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}
.icon-xinzengs{
    background: url('icons/xinzeng.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-bianjitwo{
    background: url('icons/bianjitubiao.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-shanchu2{
    background: url('icons/shanchu2.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-chexingone{
	background: url('icons/chexingone.png') no-repeat center center;
	background-size: 16px 18px;
}
.icon-chexingtwo{
	background: url('icons/chexingtwo.png') no-repeat center center;
	background-size: 16px 18px;
}
.icon-chexingthree{
	background: url('icons/chexingthree.png') no-repeat center center;
	background-size: 16px 18px;
}
.icon-chexingfour{
	background: url('icons/chexingfour.png') no-repeat center center;
	background-size: 16px 18px;
}

.icon-detail{
	background: url('icons/detail.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-tianjia{
	background: url('icons/tianjia.png') no-repeat center center;
}
